/* Set default styles for the page */
.page {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f4f4f9;
}

.header {
  background-color: #6b705c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.main {
  padding: 20px;
}

.hero {
  text-align: center;
  background-color: #a5a58d;
  padding: 50px 20px;
  color: #fff;
}

.about,
.menu,
.testimonials {
  padding: 40px 20px;
}

.footer {
  background-color: #6b705c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
